name: Build Android App
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Flet and Dependencies
        run: |
          pip install flet[all]

      - name: Build APK
        run: |
          yes | flet build apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: App-Conversor-Garcia
          path: build/apk/*.apk
